branches:
  only:
  - master
language: node_js
node_js:
- '10'
cache:
  directories:
  - node_modules
install: npm install
script: npm run test
after_script:
  - npm run coverage && nyc report --reporter=text-lcov | npx coveralls
