.spinner {
  border: 4px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  border-top-color: white;
  width: 12px;
  height: 12px;
  animation: spinner 0.6s linear;
  animation-iteration-count: infinite;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
